.cache/
coremods/
crash-reports/
data/
defaultconfigs/
globalresources/
gtceu/
journeymap/
ldlib/
local/
logs/
mod_data/
modernfix/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

emi.json
fabricloader.log
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
icon.png

config/Advancedperipherals/
config/ae2/
config/aether/
config/alexscaves_biome_generation/
config/bclib/
config/betterend/
config/betternether/
config/biomesoplenty/
config/de/
config/enderio/
config/fabric/
config/functionalstorage/
config/fzzy_config/
config/inline
config/jade/
config/jei
config/lostcities/
config/Mekanism
config/NoChatReports/
config/pneumaticcraft/
config/quark_emotes/
config/the_bumblezone/
config/titanium/


config/ad_astra_giselle_addon.ver2.jsonc
config/ad_astra-client.jsonc
config/ad_astra.jsonc
config/aether-client.toml
config/aether-common.toml
config/alexscaves-client.toml
config/alexscaves-general.toml
config/apoli-client.toml
config/apoli-common.toml
config/botania-client.toml
config/botania-common.toml
config/calio-common.toml
config/ccl.cfg
config/citadel-common.toml
config/cofh_core-client.toml
config/cofh_core-common.toml
config/colossalchests-common.toml
config/computercraft-client.toml
config/connector.json
config/connectorextras_energy_bridge-common.toml
config/copycats-client.toml
config/copycats-common.toml
config/create_new_age-client.toml
config/create_new_age-common.toml
config/create-client.toml
config/create-common.toml
config/createaddition-common.toml
config/cucumber-client.toml
config/cucumber-common.toml
config/cucumber-tags.json
config/cumulus_menus-client.toml
config/curios-client.toml
config/curios-common.toml
config/custom-micromaterials.cfg
config/cyclopscore-common.toml
config/defaultresources.json
config/dynamic_asset_generator.json
config/dynamic_fps.json
config/eccentrictome-common.toml
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/emi_loot_config.toml
config/emi_ores-client.json
config/emi.css
config/emitrades.json5
config/entityculling.json
config/essentials-client.toml
config/essentials-server.toml
config/estrogen-client.toml
config/estrogen-common.toml
config/estrogen-server.toml
config/excavated_variants.toml
config/ferritecore-mixin.toml
config/flywheel-client.toml
config/fml.toml
config/forestry-client.toml
config/forge-client.toml
config/geodes.properties
config/gravestone-client.toml
config/gravestonecurioscompat-common.toml
# config/gtceu.yaml
config/guideme.toml
config/hexcasting-client.toml
config/hexcasting-common.toml
config/immersiveengineering-client.toml
config/immersiveengineering-common.toml
config/laserio-common.toml
config/littletiles-client.json
config/littletiles.json
config/lmft.json
config/lootr-client.toml
config/lootr-common.toml
config/magna.json
config/mantle-client.toml
# config/modern_industrialization.toml
config/modernfix-common.toml
config/modernfix-mixins.properties
config/molten_vents_custom_blocks.json
config/molten_vents-common.toml
config/mysticalagradditions-common.toml
config/mysticalagriculture-client.toml
config/mysticalagriculture-common.toml
config/noindium.json
config/origins-common.toml
config/packetfixer.properties
config/pal.properties
config/palladium_config.toadcfg
config/patchouli-client.toml
config/patchouli.json5
config/paucal-common.toml
config/pehkui-client.toml
config/pehkui-common.toml
config/pneumaticcraft-client.toml
config/pneumaticcraft-common.toml
config/polymorph-integrations.toml
config/ProjectRed.cfg
config/psi-client.toml
config/psi-common.toml
config/quark-common.toml
config/railways-client.toml
config/railways-common.toml
config/resourceful-config-web.json
config/sophisticatedbackpacks-common.toml
config/sophisticatedcore-client.toml
config/sophisticatedcore-common.toml
config/tact-common.toml
config/tconstruct-client.toml
config/tconstruct-common.toml
config/telepastries-common.toml
config/terrablender.toml
config/thermal_integration-common.toml
config/thermal-client.toml
config/thermal-common.toml
config/toadlib_config.toadcfg
config/twilightforest-client.toml
config/twilightforest-common.toml
config/zeta-common.toml
config/packetfixer.properties
config/fabric/indigo-renderer.properties
